<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/session-handling/password-reset/request-password-reset.css')  }}"
          rel="stylesheet">
    <title>ProNet - Reset password</title>
</head>
<body>
<div class="master-container">
    <h1 class="title">Reset password</h1>
    <div class="message-container">
        <p class="reset-password-message" id="reset-password-message-id">
            Check your email inbox
        </p>
        <form id="reset-password-form" method="POST" onsubmit="return handle_reset_request(event)">
            <div class="username-container">
                <input class="input-field" id="username-input-field" name="username" placeholder="Username" required
                       type="text">
            </div>
            <div class="reset-password-button-container">
                <a class="cancel-button" href="/login">Cancel</a>
                <button class="reset-button" type="submit">Find Account</button>
            </div>
        </form>
    </div>
</div>
<script src="{{  url_for('static', filename='js/session-handling/password-reset/request-password-reset-checks.js')  }}"></script>
</body>
</html>