<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='css/dashboard/front-page.css') }}"
          rel="stylesheet"
          type="text/css">
    <meta charset="UTF-8">
</head>
<body>
<h1 class="top-bar-separator">Home</h1>
<div class="box-container">
    <div class="left-message-container">
        <h1 class="title-box">Get started</h1>
        <p class="message-box">Check the <strong class="message-strong">Profile</strong> page to make your curriculum
            more attractive to contractors and professionals</p>
    </div>
    <div class="right-message-container">
        <h1 class="title-box">Some tips</h1>
        <ul class="list-container">
            <li class="list-element">Adding the <strong class="message-strong">skills</strong> you have and the <strong
                    class="message-strong">languages</strong> you know can make things easier
            </li>
            <li class="list-element">Using a valid <strong class="message-strong">email</strong> is also important, as
                you will receive the notification of contact request of the contractors
            </li>
        </ul>
    </div>
</div>
</body>
</html>