<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='css/dashboard/top-bar.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="top-bar-container">
    <a class="dashboard-page-link" href="/dashboard">ProNet</a>
    <a class="profile-page-link" href="/dashboard/profile">Profile</a>
    <a class="teams-page-link" href="/dashboard/teams">Teams</a>
    <a class="account-page-link" href="/dashboard/account">Account</a>
</div>
</body>
</html>
