.master-container {
    text-align: center;
    width: 45%;
    margin: 0vw 0vw 0vw 25vw;
}

.password-reset-container {
    box-shadow: 1px 5px 10px #888888;
    border-radius: 0.5vw;
}

.title {
    margin: 2vw 0vw 3vw 0vw;
    color: #2980b9;
    font-size: 4vw;
    font-family: Franklin Gothic Medium;
}

.reset-password-message {
    padding: 0.5vw;
    background:#ff3f34;
    font-family: Arial;
    font-size: 2.8vw;
    margin: 0vw 0vw;
    color: white;
    display: none;
}

.password-field {
    font-size: 2vw;
    box-shadow: 1px 1px 10px #888888;
    border-radius: 0.5vw;
    border-width: 0vw;
    margin: 3vw 2vw 0.5vw 2vw;
    padding: 0.5vw;
    width: 21vw;
}

.password-confirm-field {
    font-size: 2vw;
    box-shadow: 1px 1px 10px #888888;
    border-radius: 0.5vw;
    border-width: 0vw;
    margin: 1vw 2vw 0.5vw 2vw;
    padding: 0.5vw;
    width: 21vw;
}

.reset-password-button {
    box-shadow: 1px 5px 10px #888888;
    border-radius: 0.5vw;
    border-width: 0vw;
    background: #3498db;
    color: white;
    font-family: Arial;
    font-size: 2vw;
    margin: 1vw 1vw 2vw 1vw;
    padding: 0.5vw;
}
