.message-container {
    padding: 1vw 5vw 5vw 5vw;
    width: 50vw;
    margin: 5vw 10vw 5vw 20vw;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 1vw;
}

.message-steps-container {
    margin: 0vw 0vw 8vw 0vw;
}

.title {
    color: #2980b9;
    font-family: Franklin Gothic Medium;
    font-size: 4.8vw;
    // color: #00060d;
}

.message-paragraph {
    color: #4b4b4b;
    font-size: 3vw;
    font-family: Arial;
}

.strong-word {
    color: #00060d;
}

.go-login-message{
    font-size: 2vw;
    color: #3d3d3d;
    font-family: Arial;
}

.login-page-link {
    color: #8e44ad;
    text-decoration: none;
}