.confirmation-form-container {
    padding: 1vw 5vw 5vw 5vw;
    width: 50vw;
    margin: 5vw 10vw 5vw 20vw;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 1vw;
}

.title {
    color: #3867d6;
    font-size: 5vw;
    font-family: Franklin Gothic Medium;
    text-align: center;
}

.confirmation-failed-message {
    padding: 1vw;
    display: none;
    background: #ff3f34;
    color: white;
    font-family: Arial Black;
    text-align: center;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept-invitation {
    margin: 1vw;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    color: white;
    font-family: Arial;
    background: #20bf6b;
    border-width: 0;
    font-size: 2vw;
}

.decline-invitation {
    margin: 1vw;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    color: white;
    font-family: Arial;
    background: #e74c3c;
    border-width: 0;
    font-size: 2vw;
}
