<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link href="{{ url_for('static', filename='css/session-handling/account-confirmation/account-notification.css')  }}"
          rel="stylesheet">
</head>
<body>
<div class="message-container">
    <div class="message-steps-container">
        <h1 class="title">Just two steps more...</h1>
        <p class="message-paragraph">Check your <strong class="strong-word">Email</strong> and <strong
                class="strong-word">CellPhone</strong></p>
    </div>
    <h3 class="go-login-message">Done? Return to your <a class="login-page-link" href="/dashboard">Dashboard</a></h3>
</div>
</body>
</html>